name: Eventure CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "npm"

      - name: Install dependencies
        run: npm install

      - name: Install Playwright system dependencies
        run: npx playwright install-deps

      - name: Install Playwright browsers
        run: npx playwright install

      - name: Run backend & frontend tests
        run: |
          npm test
          npm run test:coverage
          npm run test-frontend
          npm run test-frontend:coverage

      - name: Build Docker image
        run: docker build -t eventure-gh .

      - name: Start Minikube
        uses: medyagh/setup-minikube@latest
        with:
          driver: docker

      - name: Wait for Kubernetes
        run: kubectl wait --for=condition=Ready nodes --all --timeout=120s

      - name: Load Docker image into Minikube
        run: minikube image load eventure-gh

      - name: Deploy application to Kubernetes
        run: |
          kubectl apply -f deploymentGH.yaml
          kubectl apply -f serviceGH.yaml
          kubectl get pods
          kubectl get services

      - name: Show service access
        run: echo "App is available at http://$(minikube ip):30081"
